html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* label color */
.input-field label {
    color: #2196f3 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3 !important;
}

/* dropdown color */
.dropdown-content li > a, .dropdown-content li > span {
    color: #2196f3 !important;
}

.datepicker-date-display { background-color: #2196f3; }
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done { color: #2196f3 !important; }
.datepicker-table td.is-selected { background-color: #2196f3 !important; }
.datepicker-table td.is-selected:hover { background-color: #2196f3 !important; }
.datepicker-controls button:hover { background-color: #2196f3 !important; }
